* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden; 
}
header h1{
    text-align: center;
    padding: 10px;
}
#imglogin{
    width: 20px;
    height: auto;
    padding-right: 5px;
}
#log-in , #toggle-menu{
    padding: 3%;
    outline: none;
    border: none;

}
#toggle-menu{
    font-size: large;
    font-style: bold;
    
}
#log-in {
    float: right; 
    text-align: center; 
}

.log-inbt {
    display: flex;
    align-items: center; 
}
nav ul{
    display: inline-flex ;   
}
nav ul li{
    list-style: none;
    padding: 5px;
    font-weight: bold;
}
a {
    text-decoration: none; 
}
header{
    background-color: rgb(0, 0, 0); 
    text-align: center;
}
header img{
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: auto;
}


.slider-container {
    overflow: hidden;
    width: 100%; /* Cambiado a un valor positivo */
    margin: 0 auto;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-list li {
    flex: 0 0 150px; /* Aumenta el ancho de cada elemento del slider */
    padding: 10px 4% 10px 30px;
    background-color: #f0f0f0;
    border: none;
    margin-left: 1px;
    text-align: center;
}




